# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native / Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
android/build/
ios/build/
ios/Pods/
ios/Podfile.lock

# OS
.DS_Store
Thumbs.db

# Python (for model-training)
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
env/
